name: Lisp CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: build
      run: gcc -ansi -pedantic ./lisp/lisp.c -o l
    - name: test
      run: ./l tests/builtin_test.lisp tests/type_test.lisp tests/special_forms_test.lisp tests/core_test.lisp
